**/gen/
**/edmx/
*.db
schema.sql


**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar
*.mta

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.DS_Store
/.metadata/

# local generated lock file blocks xMake build,
# thus we ignore all local lock files
package-lock.json

    # added by cds deploy
    default-env.json
    
    # added by cds deploy
    default-env.json
    